<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Chi tiết thông báo</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                  Phân loại: <span class="emphasized">Học phí</span>
                                </div>
                                <div class="col-md-6">
                                   Đối tượng: <span class="emphasized">Lớp Mầm 1</span>
                                </div>
                                
                            </div>
                        
                            <div class="row">
                                <div class="col-md-6">
                                 Ngày đăng: <span class="emphasized">22/01/2021</span>
                                </div>
                               
                                <div class="col-md-6">
                                 Người đăng: <span class="emphasized">Đặng Văn Xuyên</span>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                  Tiêu đề: <span class="emphasized">Thông báo về việc đóng học phí quí 1 cho học sinh</span>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                  <label>Nội dung: </label>
                                  Đã đến hạn nộp học phí, mong phụ huynh đóng đúng thời hạn
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Gửi lại thông báo</button>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Xóa thông báo</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Thống kê</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <div class="ct-chart" id="dashboardChard"></div>
                        <div class="row">
                            <div class="col-md-6">Số người xem thông báo: <span class="emphasized">70</span></div>
                            <div class="col-md-6">Số người chưa xem thông báo: <span class="emphasized">20</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  