<div class="main-content">
    <div class="container-fluid">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            [expanded]="panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title class="text-primary">
                    <i class="material-icons">add</i>
                    Tạo mới thông báo
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="text-accent">Loại thông báo: </label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button class="radio" value="1">Học phí</mat-radio-button>
                                <mat-radio-button class="radio" value="2">Thông báo chung</mat-radio-button>
                            </mat-radio-group>

                        </div>
                        <div class="col-md-6">
                            <label class="text-accent">Đối tượng: </label>
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button class="radio" value="1">Phụ huynh</mat-radio-button>
                                <mat-radio-button class="radio" value="2">Giáo viên</mat-radio-button>
                            </mat-radio-group>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Phạm vi" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Ngày hết hạn" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Tiêu đề" type="text">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Nội dung"></textarea>
                            </mat-form-field>

                        </div>
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right">Tạo thông báo</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <mat-action-row>
                <button mat-button color="primary" (click)="closePanel()">Đóng</button>
            </mat-action-row>
        </mat-expansion-panel>
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Danh sách thông báo</h3>
                <p class="card-category">
                </p>
            </div> 
            <div class="card-body">
                <div class="table-responsive">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]='dataSource'>

                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                                <th class="text-primary" mat-header-cell *matHeaderCellDef> ID. </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>

                            </ng-container>

                            <!--avatar Column -->
                            <ng-container matColumnDef="title" routerLinkActive="active">
                                <th class="text-primary" mat-header-cell *matHeaderCellDef> Tiêu đề </th>
                                <td mat-cell *matCellDef="let element"> <a [routerLink]="['/notification-detail']">{{element.title}} </a></td>

                            </ng-container>

                            <!-- Bday Column -->
                            <ng-container matColumnDef="poster">
                                <th class="text-primary" mat-header-cell *matHeaderCellDef> Người đăng </th>
                                <td mat-cell *matCellDef="let element"> {{element.posterID}} </td>
                            </ng-container>

                            <!-- sex Column -->
                            <ng-container matColumnDef="postedDate">
                                <th class="text-primary" mat-header-cell *matHeaderCellDef>Ngày đăng </th>
                                <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
                            </ng-container>

                            <!-- parent Column -->
                            <ng-container matColumnDef="target">
                                <th class="text-primary" mat-header-cell *matHeaderCellDef> Đối tượng </th>
                                <td mat-cell *matCellDef="let element"><a href="#" data-toggle="modal"
                                        data-target="#parent"> {{element.classID}} </a></td>
                            </ng-container>

                            <!-- class Column -->
                            <ng-container matColumnDef="category">
                                <th class="text-primary" mat-header-cell *matHeaderCellDef> Phân loại </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>

                            <!-- action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element" class="td-actions text-right">
                                    <button mat-raised-button type="button" matTooltip="Edit Task"
                                        [matTooltipPosition]="'above'"
                                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button mat-raised-button type="button" matTooltip="Remove"
                                        [matTooltipPosition]="'above'"
                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>


                    <!-- Copyright 2020 Google LLC. All Rights Reserved.
                          Use of this source code is governed by an MIT-style license that
                          can be found in the LICENSE file at http://angular.io/license -->
                </div>
            </div>
        </div>
    </div>
</div>
